.inputs {
  @include flex-column($space-32);
  padding: 0 $space-8;

  &__bill {
    @include flex-column($space-8);
  }

  &__label {
    @include typography($grey-500, $line-height-24, $font-bold, $text-16);
  }

  &__input {
    @include input-style($space-6 $space-18, end, $grey-50, $green-900);
    @include typography($green-900, $line-height-36, $font-bold, $text-24);
  }

  &__container {
    position: relative;
    height: 3rem;
    width: 19.438rem;
  }

  &__icon {
    @include absolute-position($space-16, $space-18);
  }

  &__people--error {
    display: none;
  }

  &__tips {
    @include flex-column;

    &--option {
      @include button-option(3rem, 9.188rem, $green-900, $white, 0.313rem);
      @include typography($white, $line-height-36, $font-bold, $text-24);
    }

    &--active {
      background: $green-400;
      color: $green-900;
    }

    &--custom {
      background: $grey-50;
      color: $grey-500;
    }
  }

  &__options {
    @include flex-wrap($space-16);
    height: 11rem;
    width: 19.438rem;
  }
}
