.preview {
    height: 16.0625rem;
    width: 20.4375rem;
    display: flex;
    flex-direction: column;
    padding: $space-24;
    background: $green-900;
    border-radius: 0.9375rem;

    &__tip, &__total {
        @include section-style(2.9375rem, 0);
    }

    &__tip {
        margin-bottom: $space-24;
    }

    &__total {
        margin-bottom: $space-32;
    }

    &__label {
        height: 2.6875rem;
        width: 6.125rem;
        @include typography($white, $line-height-24, $font-bold, $text-16);
    }

    &__person {
        @include typography($grey-400, $line-height-19, $font-bold, $text-13);
    }

    &__value {
        @include typography($green-400, inherit, $font-bold, $text-32);
        letter-spacing: $letter-spacing-n-0-67;
    }

    &__reset {
        @include button-style(3rem, 17.5625rem, $green-400, $green-900, 0.3125rem);
        @include typography($green-900, $line-height-30, $font-bold, $text-20);
    }
}